.restaurant_list_box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant_list_content{
    display: flex;
    flex-direction: column;
}

.restaurant_list_box > ul{
    list-style: none;
}

.restaurant_list_content > ul > li > div{
    color: black;
}

.restaurant_list{
    display: flex;
    flex-direction: column;
}

/* index.html */
.index_container{
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 1000px;
    font-size:120%;
    padding-bottom:75px;
    height: 500px;
    width:60%;
}

.indexbutton{
    display:flex;
    flex-direction: column;
}

#logoimg{
    height: 100%;
    margin-top: 40px;
}

#login_btn{
    width: 80%;
    height: 80px;
    font-size: 120%;
    align-items: center;
    margin-top:150px;
}
#signup_btn{
    width: 80%;
    height: 80px;
    font-size: 120%;
    align-items: center;   
}

/* map.html (미완성) */
body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.main_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#check_location{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.5px solid rgba(66, 65, 65, 0.2);
    border-radius: 10px;
    box-shadow: 7px 7px 7px 1px rgba(157, 156, 156, 0.2);
    padding: 200px 50px;
}

#location_question{
    font-size: 2.7rem;
}

#location_button{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#location_button input{
    width: 50%;
    height: 70px;
    font-size: 1.5rem;
    background-color: #F9A7AE;
    color:rgba(0, 0, 0, 0.772);
    border: none;
}

#result_location{
    width: 90%;
}

.restaurant_list_box{
    width: 90%;
    margin: 0 auto;
}

.restaurant_list_content{
    width: 90%;
}

.restaurant_list{
    list-style: none;
}

.restaurant_list a{
    text-decoration: none;
    color: black;
    height: 70px;
    padding: 0;
    border-top: 1px solid black;
}

.restaurant_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

