{% extends "base.html" %}

{% block content %}

<body>
    <div class="main_content">
        <div id="check_location">
            <div id="check_location_logo"><img src="#"></div>
            <div id="location_question">당신의 위치를 확인하세요.</div>
            <div id="location_button">
                <input type="button" value="내 위치 표시하기" onclick="Javascript:GpsGetCurrentPosition();" locatioin.href="{%static /templates/restaurant/restaurantList.html%}" />
            </div>
            </div>
            <div id="result_location" style="display: none;">
                <div id="map" style="width:100%; ;height:400px;margin-top:20px;"></div>
                <div id="errormsg"></div>
                <div id="latlng"></div>
            </div>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl9B1sHmutiLWvxlz0ma-Dz_gCths3jkk" type="text/javascript"></script>
        </div>
    </div>
</body>

{% endblock %}
