{% extends "base.html" %}

{% block content %}

<body>
    <div class="main_content">
        <div id="check_location">
            <div id="location_question">당신의 위치를 확인하세요.</div>
            <div id="location_button">
                <input type="button" value="내 위치" onclick="Javascript:fnGetCurrentPosition();" />
            </div>
        </div>
        <div id="result_location">
            <div id="map" style="width:760px;height:400px;margin-top:20px;"></div>
            <div id="errormsg"></div>
            <div id="latlng"></div>
        </div>
        <!-- 맛집 리스트 -->
        <div class="restaurant_list_box">
            <ul class="restaurant_list_content">
                <li class="restaurant_list">
                    <a href="#" id="list1" class="restaurant_detail">
                        <div class="restaurant_name">첫 번째 맛집 리스트</div>
                        <div class="restaurant_address">상명대학교 서울캠퍼스</div>
                    </a>
                    <a href="#" id="list2" class="restaurant_detail">
                        <div class="restaurant_name">두 번째 맛집 리스트</div>
                        <div class="restaurant_address">상명대학교 서울캠퍼스</div>
                    </a>
                    <a href="#" id="list3" class="restaurant_detail">
                        <div class="restaurant_name">세 번째 맛집 리스트</div>
                        <div class="restaurant_address">상명대학교 서울캠퍼스</div>
                    </a>
                    <a href="#" id="list4" class="restaurant_detail">
                        <div class="restaurant_name">네 번째 맛집 리스트</div>
                        <div class="restaurant_address">상명대학교 서울캠퍼스</div>
                    </a>
                    <a href="#" id="list5" class="restaurant_detail">
                        <div class="restaurant_name">다섯 번째 맛집 리스트</div>
                        <div class="restaurant_address">상명대학교 서울캠퍼스</div>
                    </a>
                    <a href="#" id="list6" class="restaurant_detail">
                        <div class="restaurant_name">여섯 번째 맛집 리스트</div>
                        <div class="restaurant_address">상명대학교 서울캠퍼스</div>
                    </a>
                    <a href="#" id="list7" class="restaurant_detail">
                        <div class="restaurant_name">일곱 번째 맛집 리스트</div>
                        <div class="restaurant_address">상명대학교 서울캠퍼스</div>
                    </a>
                    <a href="#" id="list8" class="restaurant_detail">
                        <div class="restaurant_name">여덟 번째 맛집 리스트</div>
                        <div class="restaurant_address">상명대학교 서울캠퍼스</div>
                    </a>
                    <a href="#" id="list9" class="restaurant_detail">
                        <div class="restaurant_name">아홉 번째 맛집 리스트</div>
                        <div class="restaurant_address">상명대학교 서울캠퍼스</div>
                    </a>
                    <a href="#" id="list10" class="restaurant_detail">
                        <div class="restaurant_name">열 번째 맛집 리스트</div>
                        <div class="restaurant_address">상명대학교 서울캠퍼스</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

{% endblock %}
